
spen{
    color:orange;
}
h1,h2,h3,h4{
    font-family:Bahnschrift SemiBold SemiConden;
    font-weight: 600;
    Margin:35px 5px 0px 35px;
}
.section1{
    display:flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.header{
    width:30%;
}
p{
    text-align:justify;
    font-family: Monotype Corsiva;
    font-size:22px;
    Margin:10px 0px 10px 25px;
}
.baizid1{
   width:300px; 
   height:auto;
}
.mein{
   width:70%;
}
.btn{
    color:white;
    background-color:orange;
    font-size:20px;
    text-decoration: none;
    margin:10px 5px 10px 25px;
    box-sizing: border-box;
}

.container{
    
}
.baizid2{
    width:300px; 
    height:auto;
}
.Abu{
    width:40%;
    float:left;
    
}
.Osman{
    width:60%;
    float:right;
}
.btn{
    padding:8px;
    border-radius:10px;
    font-family: Bahnschrift SemiBold Condensed;
}
.section2{
    display:flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom:50px;
    
}
h5{
    color:orange;
    margin:10px 5px 10px 25px;
}
.nahid{
    display:flex;
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    
}
.Full{
    Width:45%;
    text-align: justify;
    box-shadow: 10px 10px 40px gray;
    margin-left:5%;
    margin-right:5%;
    padding-left:10px;

     border-left:7px solid;
     border-image:linear-gradient(tomato,orange);
     border-image-slice: 1; 
}
.Baby{
    width:45%;
    text-align: justify;
    box-shadow: 10px 10px 40px gray;
    margin-left:5%;
    margin-right:5%;
    padding:10px;

    border-left:7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1; 
}
.footer{
    background-color:black;
    color:white;
    text-align: center;
}